html {
    overflow-x: hidden;
    box-sizing: border-box;
}

*,
*::before,
*::after {
     box-sizing: inherit; 
}


body {
    overflow-x: hidden;
    font-family: 'Raleway';
    max-width: 1920px;
}


.header {
       margin: 0;
       width: 100%;
       height: 86px;
}

.container-header {
        display:  flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;
        height: 100%;
}

.header-logo {
      display: flex;
}

.header-cdo-logo {
         margin-right: 18.75px;
         display: block;
}

.header-cdo-logo:last-child {
        margin-right: 0;
}


.header-list-items {
      margin: 0;
      padding: 0;
      display: flex;
      list-style-type: none;
}

.header-list-item {
     margin-right: 35px;
     font: 400 18px / 136.85% 'Raleway';
     text-align: left;
}

.header-list-item:last-child {
     margin-right: 0;
}

.header-list-item-link {
      text-decoration: none;
      color:  #3F4353;
}

.header-list-item-link___active {
    font: 400 18px / 136.85% 'Raleway';
    text-decoration: none;
    color:  #74D414;
}

.header-network-social {
      display: flex;
}

.header-network-social-link {
        margin: 0;
        margin-right: 23.75px;
        display: block;
}

.header-network-social-link:last-child {
       margin-right: 0;
}

.header-contact-our {
       display: flex;
}

.header-contact-our-link {
        margin: 0;
        margin-right: 32px;
        font: 400 18px / 136.85% 'Raleway';
        text-decoration: underline;
        color: #3F4353;
}

.header-contact-our-tel {
    font: 400 18px / 136.85% 'Raleway';
    text-decoration: none;
    color: #3F4353;
}

.header-partners {
      display: flex;
}

.header-partners-image {
        margin: 0;
        margin-right: 16.97px;
}

.header-partners-link {
      display: block;
      font: 400 16px /  136.85% 'Raleway';
      text-decoration: none;
      color: #3F4353;
      width: 172px;
}

/*------End -------------------------------*/ 



/* Main 
=================================================*/ 
.container-section {
          margin: 0;
          padding: 0;
          background-color: #E5E5E5;
          width: 100%; 
}

.section-list-items {
    display: flex;
    justify-content: space-between;
}

.error-link {
       width: 400px;
       height: 150px;
}

.error-link-blog {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100%;
}

.error-link-title {
      margin: 0;
      font: 400 13px  / 15px 'Raleway';
}

.error-arrow {
     margin: 0 13.5px;
}

.error-affichage {
       margin: 0;
       padding-top: 200px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       text-align: center;
       width: 1113.03px;
       height: 667.83px;
       transform: translateX(8%);
       z-index: 2;
}

.error-affichage-title {
       margin: 0;
       margin-top: 63.17px;
       font: 400 44px / 136.85% 'Raleway';
       letter-spacing: 0.08em;
       text-transform: uppercase;
       color: #3F4353;
}

.error-ellipse {
      width: 617px;
      height:  864px;
      transform: translateX(-33%);
}

.ellipse-rectangle {
      width: 910px;
}

/* .section-blog-link-bottom {
        background: red;
        text-align:  left;
        width: 330px;
        margin-left: auto;
        margin-right: auto;
} */

.text-error-page {
      margin: 0;
      margin-top: 18px;
      font: 400 20px / 136.85% 'Raleway';
}

.error--link-return-page-home {
      margin: 0;
      padding: 0;
      padding-right: 40px;
      margin-top: 42px;
      text-decoration: none;
      color: #74D414;
      background-image: url('../img/arrow-error.svg');
      background-position: center right;
      background-repeat: no-repeat;
      background-size: 32px 25px;
}
/*----------------End----------------------------*/





/* Footer 
======================================================*/
.container-footer-center {
      display: flex;
      align-items: center;
}

.center--marge {
    display: flex;
    background-color: #2B2C34;
     width: 100%;
     border-bottom: 1px solid #616161;
}

.container-footer-center {
      margin-left: auto;
      margin-right: auto;
      width: 88%; 
}

.footer-top {
     height: 86px;
}

.footer-logo {
      margin: 0;
      margin-right: 18.75px;
}

.footer-top-descr {
     margin: 0;
     margin-left: 106.95px;
     font: 400 20px / 150% 'Realeway';
     color: #FFFFFF;
}

.footer-list-items-center {
    padding: 0;
    margin: 0; 
    display: flex; 
    list-style-type: none;

}

.footer-list-item-blog-center {
    padding: 0;
    margin: 0;  
    list-style-type: none;
}

.footer-title {
     margin: 0;
}
/*------------------End--------------------------------*/